<!Doctype html>
<html>
	<head>
		<title>首页 - 移位监管系统</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/uniform.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/chosen.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/table.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/common.css" />
		
		<script type="text/javascript" src="/assets/script/jquery.js"></script>
		<script type="text/javascript" src="/assets/script/modernizr.js"></script>
		<script type="text/javascript" src="/assets/script/bootstrap.js"></script>
		<script type="text/javascript" src="/assets/script/uniform.js"></script>
		<script type="text/javascript" src="/assets/script/chosen.js"></script>
		<script type="text/javascript" src="/assets/script/dataTables.js"></script>
		<script type="text/javascript" src="/assets/script/datatable-extend.js"></script>
		<script type="text/javascript" src="/assets/script/common.js"></script>
	</head>
	<body>
		
	</body>
</html>